<html>
  <head>
    {% include "component/links.html" %}
    {% include "component/navbar.html" %}
  </head>
  <body style="background-color: rgba(30, 30, 30);">
    <div class="container">
      <div class = "jumbotron">
        <h1 style="color: white; font-size: 300%; font-weight: 600; text-align: center; padding-top: 20px; padding-bottom: 10px;">Create Group</h1>
        <form method="POST">{% csrf_token %}
          <table style="color: white; font-size: 120%; font-weight: 400; display: flex; align-items: center; justify-content: center;
			border-collapse: separate; border-spacing: 100px 20px; border: 2px solid rgba(200, 200, 200); padding-top: 5px; 
			padding-bottom: 10px; border-radius: 2px;">
            {{ group_form.as_table }}
            <tr><td>
              <input type="submit" class="btn btn-primary" value = "Create Group"/>
            </td></tr>
          </table>
        </form>
      </div>
    </div>
    {% include "component/js_dependencies.html" %}

  </body>
</html>
