{% if not page_data %}
<br>
  <p>No groups to search</p>
{% else %}
{% for group in page_data reversed %}

<div class="col-sm-2 col-form-label" style="color: white; font-weight: 600; font-size: 175%; padding-top: 30px; white-space: nowrap;
	    margin-top: 5px;">{{ group.group_name }}</div>

<div class="group_list" style="border-style: groove; border-color: rgba(200, 200, 200); font-size: 105%; margin-bottom: 25px;">

  <img src="" alt="">
    <div class="form-group row">
      <label for="gm" class="col-sm-2 col-form-label" style="color:white; padding-left: 25px;">Game Master</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="gm" value="{{ group.game_master }}" style="color:white; font-weight: 600;">
      </div>
    </div>

    <div class="form-group row">
      <label for="campaign" class="col-sm-2 col-form-label" style="color:white; padding-left: 25px;">Campaign</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="campaign" value="{{ group.campaign }}" style="color:white; font-weight: 600;">
      </div>
    </div>

    <div class="form-group row">
      <label for="group_size" class="col-sm-2 col-form-label" style="color:white; padding-left: 25px;">Group Size</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="group_size" value="{{ group.group_size }}" style="color:white; font-weight: 600;">
      </div>
    </div>

    <div class="form-group row">
      <label for="age_min" class="col-sm-2 col-form-label" style="color:white; padding-left: 25px;">Minimum Age</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="age_min" value="{{ group.age_minimum }}" style="color:white; font-weight: 600;">
      </div>
    </div>

    <div class="form-group row">
      <label for="exp_level" class="col-sm-2 col-form-label" style="color:white; padding-left: 25px;">Experience Level</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="exp_level" value="{{ group.experience_level }}" style="color:white; font-weight: 600;">
      </div>
    </div>

    <div class="form-group row">
      <label for="meeting_freq" class="col-sm-2 col-form-label" style="color:white; padding-left: 25px;">Schedule</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="meeting_freq" value="{{ group.meeting_frequencies }}" style="color:white; font-weight: 600;">
      </div>
    </div>

    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label" style="color:white; padding-left: 25px;">Description</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="description" value="{{ group.group_description }}" style="color:white; font-weight: 600;">
      </div>
    </div>

    <div class="container" style="padding-bottom: 20px; padding-top: 8px; margin-left: 0px;">
      <form class="" action="/lfg/{{ group.id }}" method="POST">{% csrf_token %}
        <button type="submit" class="btn btn-secondary btn-sm" style="color: white; background-color: rgba(25, 135, 84); border-style: groove; border-color: black; border-radius: 2px; border-weight: 2px;">
          Request to join
        </button>
      </form>

    </div>
</div>
{% endfor %}
{% endif %}
