<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    {% include "component/links.html" %}
    {% include "component/navbar.html" %}
    <title>Group View</title>
  </head>
  <body style="background-color: rgba(30, 30, 30);">

    {% for item in page_data %}
    <h3 style="color: white; text-align: center; font-size: 285%; font-weight: 600; margin-top: 15px; margin-bottom: 15px;">{{ item.group_name }}</h3>

    <div style="display: flex; align-items: center; justify-content: center; width: 100%; padding-bottom: 25px; border-bottom: 3px solid white;">
    <a href="http://www.roll20.net/welcome">
      <button style="margin-right: 10px; font-weight: 400; font-size: 125%; background-color: rgba(146, 33, 131); color: white;" class="btn btn-secondary" type="button" name="button">Roll20</button>
    </a>

    <a href="http://discord.gg/9kQsTCdbvS">
      <button style="margin-left: 10px; font-weight: 400; font-size: 125%; background-color: rgba(114, 137, 218); color: white;" class="btn btn-secondary" type="button" name="button">Discord</button>
    </a>
    </div>


    <h3 style="color: white; text-align: left; font-size: 230%; font-weight: 600; margin-top: 40px; margin-bottom: 5px;">Notice Board</h3>
    <div style="border-style: groove; border-color: white;">

    <h3 style="color: white; text-align: center; font-size: 125%; font-weight: 500; margin: 25px;">{{ item.notice_board }}</h3>

    </div>

    {% endfor %}

  </body>
</html>
