<!-- Preferences bar on LFG main page -->
<div class="btn-group">
  <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Max Players
  </button>
  <br>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/lfg/sort_e/any">Any</a></li>
    <li><a class="dropdown-item" href="/lfg/sort_p/2-3">2-3</a></li>
    <li><a class="dropdown-item" href="/lfg/sort_p/4-6">4-6</a></li>
    <li><a class="dropdown-item" href="/lfg/sort_p/7+">7+</a></li>
  </ul>

  <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Experience Level
  </button>
  <br>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/lfg/sort_e/any">Any</a></li>
    <li><a class="dropdown-item" href="/lfg/sort_e/beginner">Beginner</a></li>
    <li><a class="dropdown-item" href="/lfg/sort_e/intermediate">Intermediate</a></li>
    <li><a class="dropdown-item" href="/lfg/sort_e/advanced">Advanced</a></li>
  </ul>

  <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Age
  </button>
  <br>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/lfg/sort_a/any">Any</a></li>
    <li><a class="dropdown-item" href="/lfg/sort_a/13+">13+</a></li>
    <li><a class="dropdown-item" href="/lfg/sort_a/18+">18+</a></li>
  </ul>


  <!-- <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Meeting Frequency
  </button>
  <br>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Twice Weekly</a></li>
    <li><a class="dropdown-item" href="#">Weekly</a></li>
    <li><a class="dropdown-item" href="#">Twice Monthly</a></li>
    <li><a class="dropdown-item" href="#">Monthly</a></li>
    <li><a class="dropdown-item" href="#">Other</a></li>
  </ul> -->
</div>
<!-- END Preferences bar on LFG main page -->
