<!DOCTYPE html>
<html>
    <head>
      {% load static %}
      <link rel="stylesheet" href="{% static 'astyles.css'%}">
      {% include "component/links.html" %}
    </head>
    {% include "component/navbar.html" %}
    <body class ="aboutBody">
    	<h3 style="color: white; text-align: center; font-weight: 600; font-size: 250%; padding-top: 20px;">About Us</h3>
        <hr>
        <p class="aboutText" style="color: white; font-size: 110%;">
            We are a group of developers that value social interaction
            and believe in tools that make this as accessible to as many
            users as possible.

	    Contributors:

	    <ul style="color: white; font-size: 110%;">
		    <li>1. Jonathan Phan</li>
		    <li>2. Joshua Pineda</li>
		    <li>3. Juan Palos Nava</li>
		    <li>4. Reed Lagomarsino</li>
		    <li>5. Spencer Leff</li>
		    <li>6. Tai Masuda</li>
	    </ul>
        </p>
          {% include "component/js_dependencies.html" %}
    </body>


</html>
