<html>
  <head>
    {% include "core/links.html" %}
  </head>
  <body>
    {% include "core/navbar.html" %}
    <div class="container">
      <div class = "jumbotron">
        <h1>Create Group</h1>
        <form method="POST">{% csrf_token %}
          <table>
            {{ group_form.as_table }}
            <tr><td>
              <input type="submit" class="btn btn-primary" value = "Create Group"/>
            </td></tr>
          </table>
        </form>
      </div>
    </div>
    {% include "core/js_dependencies.html" %}

  </body>
</html>
