<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'astyles.css'%}">
    {% include "component/links.html" %}
</head>
{% include "component/navbar.html" %}
<body style="background-color: rgba(30, 30, 30);">
    <h3 style="text-align: center; color:white; margin-top: 15px; font-weight: 600; font-size: 280%;">{{groupname}}</h1>
    <hr>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <textarea id="chat-log" cols="100" rows="15" style="color:white;background-color: rgba(40, 40, 40);" ></textarea><br><br>
    <input id="chat-message-input" type="text" size="100" style="margin-top: 20px; color:white; background-color: rgba(40, 40, 40);"><br>
    <input id="chat-message-submit" type="button" style="margin: 15px; margin-top: 20px; background-color: rgba(190, 180, 255); color: black; font-size: 125%; font-weight: 400;" class="btn btn-secondary" value="Send">

    </div>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {

            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': messageInputDom.value,
                //'sender': msgNameDom.value,
                'sender': "{{username}}",
                'option': roomName
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>
