<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    {% include "core/links.html" %}
    <title>Looking For Game</title>
  </head>
  <body>
    {% include "core/navbar.html" %}
    <form method="GET" action="/user/">
      <input type="submit" class="btn-sm btn-dark" value="View Preferences">
    </form>
    <br>
    <form method="GET" action="/preferences/">
      <input type="submit" class="btn-sm btn-dark" value="Change Preferences">
    </form>
    <!-- <a href="user/">view preferences</a> -->
    <!-- <a href="preferences/">change preferences</a> -->
    <br>
    Contributors:
    <ul>
      <li>1. Jonathan Phan</li>
      <li>2. Joshua Pineda</li>
      <li>3. Juan Palos Nava</li>
      <li>4. Reed Lagomarsino</li>
      <li>5. Spencer Leff</li>
      <li>6. Tai Masuda</li>
    </ul>


    <div class="todo">
      <p>TODO: Show user pending group invites, requests to join your games, and games the user created, and friend list</p>
    </div>






  </body>
</html>
