<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'lstyles.css'%}">
    {% include "component/links.html" %}
    <title>Looking For Game</title>
  </head>
  <body class="lfgBody">
    {% include "component/navbar.html" %}
    <br>
    <div class="lText" >
      <h3>Looking For Game</h3>
    </div>
    <br>
    <div class="lText">
        Search for available groups here!
    </div>

    {% include "component/group_preference_bar.html" %}

    <!-- List Groups on LFG main page -->
    {% include "component/group_list.html" %}

    <div class="lText">
      <p>TODO: sort games by user provided paramaters, add "request to join" button</p>
    </div>
    {% include "component/js_dependencies.html" %}

  </body>
</html>
