<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script type="text/javascript">
    function confirmDeleteModal(id) {
      $('#deleteModal').modal();
      $('#deleteButton').html('<a href="?delete='+id+'" class="btn btn-danger" onclick="return closeDeleteModal('+id+')">Delete</a>');
    }

    function closeDeleteModal(id) {
      $('#deleteModal').modal('hide');
      return true
    }
    </script>
    <meta charset="utf-8">
    {% load static %}
    {% include "component/links.html" %}
    {% include "component/navbar.html" %}
    <title>Looking For Game</title>
  </head>
  <body style="background-color: rgba(30, 30, 30);">

    <h3 style="color: white; font-size: 300%; font-weight: 600; text-align: center; margin-top: 30px; margin-bottom: 15px;">Profile</h3>
    <div style="display: flex; align-items: center; justify-content: center;">
    <div style="border-style: groove; border-color: rgba(200, 200, 200); border-radius: 2px; display: flex; width: 35%;
	        flex-direction: column; justify-content: center; align-items: center; padding-top: 15px; margin-bottom: 45px;">
	    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
	    <p style="color: white; font-size: 150%; font-weight: 400;">Username: </p>
      	    {% if user.is_authenticated %}
	    <p style="color: white; font-size: 160%; font-weight: 600; padding-left: 30px;">{{ user.username }}</p>
      	    {% else %}
	    <p style="color: white; font-size: 160%; font-weight: 600; padding-left: 30px;">Guest</p>
            {% endif %}
	    </div>

            <a class="nav-link" href="/change-password" style="margin-bottom: 15px;">Change Password</a>
    </div>
    </div>


    <h3 style="color: white; font-size: 250%; font-weight: 600; text-align: center; margin-top: 10px; margin-bottom: 15px;">My Groups</h3>
    <div class="group_list"> 
      {% include "component/my_group_list.html" %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Group</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Do you really want to delete this group?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <span id='deleteButton'></span>
          </div>
        </div>
      </div>
    </div>
    <!--Modal ends here--->
    {% include "component/js_dependencies.html" %}

  </body>
</html>
