<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script type="text/javascript">
    function confirmDeleteModal(id) {
      $('#deleteModal').modal();
      $('#deleteButton').html('<a href="?delete='+id+'" class="btn btn-danger" onclick="return closeDeleteModal('+id+')">Delete</a>');
    }

    function closeDeleteModal(id) {
      $('#deleteModal').modal('hide');
      return true
    }
    </script>
    <meta charset="utf-8">
    {% load static %}
    {% include "component/links.html" %}
    <title>Looking For Game</title>
  </head>
  <body>
    {% include "component/navbar.html" %}
    <br>
    <div class="group_list">
      <h4>My Groups</h4>
      {% include "component/my_group_list.html" %}
      <br>
    </div>
    <h4>Pending Invites</h4>
    <!-- {% include "component/pending_invites.html" %} -->

    <div class="todo">
      <p>TODO: Show user pending group invites, requests to join your games, and games the user created, and friend list</p>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Group</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Do you really want to delete this group?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <span id='deleteButton'></span>
          </div>
        </div>
      </div>
    </div>
    <!--Modal ends here--->
    {% include "component/js_dependencies.html" %}

  </body>
</html>
